.movieCard{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 60vw;
    margin: auto;
    gap: 20px;
    background-color: rgb(249, 249, 249);
    border-radius: 15px;

}

img{
    width: 20vw;
    border-radius: 15px;

}

.movieDetail{
    font-size: 1.2vw;
    font-weight: bold;
    background-color: rgb(249, 249, 249);
    color: rgb(3, 135, 91);
}

.plot{
    width: 80vw;
    margin: 30px auto ;
    font-size: 1.5vw;
    font-weight: bold;
}
.plot p{
    color: rgb(5, 59, 41);
    
}
.plot span{
    color: rgb(3, 135, 91);
    
}

@media (max-width: 900px){
    .movieCard{
        flex-direction: column;
        width: 30vw;
    }    
    .movieDiv{
        /* border: 2px solid; */
        /* width: 90%; */
        margin: auto;
    }
    .movieDiv img{
        width: 100%;
        border-radius: 10px 10px 1px 1px;
    }
}
